{% extends 'Food/base.html' %}
<!-- {% load static %}                                                                                        -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Food/style.css' %}">


    

</head>
<body>

    
    {% block content %}
  

    {% for item in item_list %}
    
    <ul>
        <li>
            <a href="{% url 'Food:detail' item.id %}">{{ item.id }} -- {{ item.item_name }}</a>
        </li>
    </ul>
    {% endfor %}

    {% endblock content %}
</body>
</html>